<h1 class="shadow-lg p-3 mb-5 bg-white rounded"><%=t('view.list')%></h1>

<%= link_to t('view.New Task'), new_task_path, class: "btn btn-info" %>
<%= link_to "終了期限でソート", tasks_path(task_limit: "true"), class: "btn btn-warning m-5" %>
<%= link_to "優先順位でソート", tasks_path(rank: "true"), class: "btn btn-danger" %>
<%= link_to "自分のタスクのみ表示", tasks_path(user_tasks: "true"), class: "btn btn-danger" %>

<%= form_with url: tasks_path, scope: :task, method: :get, local: true do |form| %>
  <div class="row justify-content-md-center">
    <%= form.text_field :search , id: 'search_input', placeholder: 'タスク名', class: "form-control form-control-lg col-md-4" %>
    <%= form.select :status, Task.enum_options_for_select(:status), include_blank: true, class: "col-md-3" %>
    <%= form.submit 'Search', name: nil %>
  </div>
<% end %>

<table class="mt-5">
  <thead>
    <tr>
      <th>番号</th>
      <th><%= t 'view.title'  %></th>
      <th><%= t 'view.content'  %></th>
      <th><%= t 'view.end_time' %></th>
      <th><%= "名前" %></th>
      <th><%= t 'view.status' %></th>
      <th><%= t 'view.priority' %></th>
      <th><%= t 'view.access'  %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each.with_index(1) do |task, index| %>
      <tr>
        <td class="display-4"><%= index %></td>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= l task.end_time %></td>
        <td><%= task.user.name %></td>
        <td><%= task.human_attribute_enum(:status) %></td>
        <td class="<%= priority_class(task.priority) %> display-4" ><%= task.human_attribute_enum(:priority)%></td>
        <td><%= link_to t('view.show'), task, data: { confirm: "#{index}のタスクを確認しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='paginate'><%= paginate(@tasks) %></div>