<h1><%=t('view.list')%></h1>

<%= link_to t('view.New Task'), new_task_path %>
<%= link_to "終了期限でソート", tasks_path(task_limit: "true") %>
<table>
  <thead>
    <tr>
      <th>番号</th>
      <th><%= t('view.title') %></th>
      <th><%= t('view.content') %></th>
      <th>終了期限</th>
      <th colspan="3"><%= t('view.access') %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each.with_index(1) do |task, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= task.end_time %></td>
          <td><%= link_to t('view.show'), task, data: { confirm: "#{index}のタスクを確認しますか？" } %></td>
          <td><%= link_to t('view.edit'), edit_task_path(task), data: { confirm: "#{index}のタスクを編集しますか？" } %></td>
          <td><%= link_to t('view.delete'), task, method: :delete, data: { confirm: "#{index}のタスクを削除してもいいですか？" } %></td>
        </tr>
    <% end %>
  </tbody>
</table>