<h1>Sign up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<table>
  <%= form_with(model: @user, local: true) do |f| %>
  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email %></td>
  <tr>
    <td><%= f.label :password %>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td><%= f.label :password_confirmation %>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <p><%= f.submit "Create my account" %></p>
</table>
    
  <% end %>
