<h1>管理者ページ</h1>

<%= link_to 'ユーザーを新規登録する', new_admin_user_path %>

<table class="mt-5">
  <thead>
    <tr>
      <th><%= t 'view.name'  %></th>
      <th><%= t 'view.email'  %></th>
      <th><%= "登録タスク数" %></th>
      <th><%= "管理者権限" %></th>
      <th colspan="3"><%= t 'view.access'  %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.eager_load(:tasks).each.with_index(1) do |user, index| %>
      <tr>
        <% if user.admin == true %>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.tasks.size %></td>
          <td><%= user.admin %></td>
          <td><%= link_to t('view.show'), user, data: { confirm: "#{index}の詳細を確認しますか？" } %></td>
          <td><%= link_to t('view.edit'), edit_admin_user_path(user), data: { confirm: "#{index}のユーザーを編集しますか？" } %></td>
          <td><%= link_to t('view.delete'), user, method: :delete, data: { confirm: "#{index}のユーザーを削除してもいいですか？" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<table class="mt-5">
  <thead>
    <tr>
      <th><%= t 'view.name'  %></th>
      <th><%= t 'view.email'  %></th>
      <th><%= "登録タスク数" %></th>
      <th><%= "管理者権限" %></th>
      <th colspan="2"><%= t 'view.access'  %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.eager_load(:tasks).each.with_index(1) do |user, index| %>
      <tr>
        <% if user.admin == false %>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.tasks.size %></td>
          <td><%= user.admin %></td>
          <td><%= link_to t('view.show'), user, data: { confirm: "#{index}の詳細を確認しますか？" } %></td>
          <td><%= link_to t('view.edit'), edit_admin_user_path(user), data: { confirm: "#{index}のユーザーを編集しますか？" } %></td>
          <td><%= link_to t('view.delete'), user, method: :delete, data: { confirm: "#{index}のユーザーを削除してもいいですか？" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>