<!DOCTYPE html>
<html>
  <head>
    <title>ManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Noto+Sans+JP&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light">タスク管理</a>
      <div class="login_user ml-auto text-light">
        <% if logged_in? %>
          <% if current_user.admin? %>
            <p class="text-center mb-0">管理者：<%= current_user.name %></p>
          <% else %>
            <p class="text-center mb-0">ログインユーザー：<%= current_user.name %></p>
          <% end %>
        <% else %>
          <p class="text-center mb-0">ようこそ</p>
        <% end %>
      </div>
      </div>
    </nav>

    <% flash.each do |key, value| %>
      <%= content_tag(:div,value, class:"#{key}") %>
    <% end %>
  <div class="info text-left">
    <% if logged_in? %>
    <div class="info-item flex">
      <%= link_to "Profile", user_path(current_user.id), class: "m-5" %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    </div>
    <% else %>
    <div class="info-item flex">
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    </div>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
